@page "/Mini1P/{InstanceKey?}"
@using Abstractions
@rendermode InteractiveServer
@inject StateManager StateManager
@inject IDbContextFactory<ApplicationDbContext> DbFactory
@inject NavigationManager Nav
@inject ILogger<Page> Logger
@inject ApplicationEventRelay Relay
@implements IDisposable

<h3>Mini1P Game</h3>
<p>user = @user!.UserName</p>

@if (GameInstances.Any())
{
	<ul>
		@foreach (var game in GameInstances)
		{
			<li><a href="@game.Url">@game.Id - @game.Url</a></li>
		}		
	</ul>		
}

<FluentButton OnClick="NewGame" Disabled="CurrentUser is null" Class="my-3">Start Game</FluentButton>

<p>moves remaining: @StateManager.State?.MovesRemaining</p>

<GameGrid 
	TPlayer="MiniGamePlayer" TPiece="MiniGamePiece" TGameState="MiniGameState" 
	Visible="StateManager.IsLoaded" State="StateManager.State" PlayerName="@user!.UserName" OnPlay="SaveState">
	<ChildContent>		
		@if (context.Piece != null)
		{
			<span>@context.Piece.Name</span>
		}
	</ChildContent>
</GameGrid>

@code {
	GameInstance[] GameInstances = [];	
	private ApplicationUser? user;

	[Parameter] public string? InstanceKey { get; set; }

	protected override async Task OnInitializedAsync()
	{
		user = await CurrentUser.GetAsync();
		Relay.StateChanged += OnGameStateChanged;
	}

	protected override async Task OnParametersSetAsync()
	{
		Logger.LogDebug("Current user = {0}", user?.UserName ?? "<unknown>");

		if (InstanceKey is null)
		{
			using var db = DbFactory.CreateDbContext();
			GameInstances = await db.MyGames(user!.UserId, GameType.Mini1P).ToArrayAsync();
			return;
		}

		await StateManager.LoadAsync(InstanceKey);
	}

	async Task NewGame(MouseEventArgs args)
	{
		var url = await StateManager.StartAsync(true, [(user!.UserName!, true)]);
		Nav.NavigateTo(url, forceLoad: true);
	}

	private async void OnGameStateChanged(object? sender, StateChangeEventArgs e)
	{
		if (e.InstanceId != StateManager.InstanceId) return;
		if (e.ToPlayer != user!.UserName) return;
		StateManager.Update(e.Json);
		await InvokeAsync(StateHasChanged);
	}

	public void Dispose()
	{
		Relay.StateChanged -= OnGameStateChanged;
	}	

	private async Task SaveState(PlayArgs args)
	{
		Logger.LogInformation(args.LogMessage, args.LogParams);
		await StateManager.SaveAsync();
	}
}
